header{margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.386); /* gris leve con transparencia */
}
body{
    margin: 0;
    padding: 0;
    background-image: url(img/angularuade.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.256), rgba(0, 0, 0, 0.5)), url(img/angularuade.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.386); /* gris leve con transparencia */
}
#home{
    margin-top: 70px;
    display: block;
    block-size: 35px
}

#menu { 
    display: flex;
    flex-direction:column; /* para que el menu se vea en vertical */
    align-items:center;
    background-color: rgba(0, 0, 0, 0.58); /* gris leve con transparencia */
    color: white;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav button a { 
    color:#000000;
    text-decoration: none;
}
.boton {padding: 0px 100px;
    font-size: 20px;
    background-color: #FFD700; /* Dorado */
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    box-shadow: #ffd900 0px 0px 5px;
}
.boton:hover {
    background-color: #9b8d3b; 
}
.boton:active {
    background-color: #fc1111; 
}

/*ESTILO PARA HOME (TITULO)*/
h2{
    color: white ;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 35px;
}
#tablamaterias {
    color: white ;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ffffff;
}
th {
    background-color: #a09e93;
    color: #000000;
    font-weight: bolder
}
/*ESTILO PARA EL FOOTER*/
#footer {padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.822); /* gris leve con transparencia */
    color: white;
    text-align: initial;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
#parrafo {display:flex;
    text-align: initial;
    margin-top: 1px;
    flex-direction: column;
}
#parrafo3 {
    display: flex;
    font-size: 20px;
    text-align:end;
    flex-direction: column;
}

/*ESTILO PARA AVISOS*/
.avisos {padding: 0 ;
    margin: 0;
    display: flex;
    flex-direction: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.386); /* gris leve con transparencia */
}


/*ESTILO PARA SOBRE MI*/
#leo {
    text-align: start;
}
#contenidoimg { 
    display: flex;
    justify-content: start;
    flex-direction:flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
#contenidotextosobremi {
    max-width: 800px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
/*ESTILO PARA MATERIAS2025*/
.materias {margin-top: 70px;
    padding: 0;
    display: flex;
    flex-direction: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.386); /* gris leve con transparencia */
}
#botondiseño {padding: 0px 100px;
    font-size: 20px;
    background-color: #ff0000;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    box-shadow: #ffffff 0px 0px 10px;

}
ul button a { 
    color:#000000;
    text-decoration: none;
}
#botondiseño:hover {
    background-color: #9b3b3b; 
}

#formulario {background-color: rgba(39, 36, 36, 0.639);
    color: white;
    width: 100;            
    height: 70%;          
    padding: 40px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:100;
}

#footerdiseño {
    text-align: center;
}
/*ESTILO PARA DISEÑO Y DESARROLLO WEB*/
h3 {
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 35px;
}
#examenes {color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: start;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, 0.854);
    width: 40%;
    display: flex;
    flex-direction:column ;
    justify-content: center;

}
#actividades{ color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.854);
    width: 40%;
    flex-direction:column-reverse ;
    justify-content: center;
}
section h3 p{
    text-align: start;
    padding-left: 50px;
}
section div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding-left: 30px;

}
#biblio{
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: start;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, 0.854);
    width: 40%;
    align-items: end;
}
section p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding-left: 30px;
}


